html {
  --font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;

  --font-size-0: 0.75rem;
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.125rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 1.875rem;
  --font-size-7: 2.25rem;
  --font-size-8: 3rem;
  --font-size-9: 3.75rem;
  --font-size-10: 4.5rem;

  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-font);
}
